h2{
  display: block;
  align-items: center;
}
.navbar{
  background-color: lightgrey;
  color: black;
  height: 30px;
  padding-top: 15px;
}
.links{
  padding-top: 20px;
  margin: 30px;
  align-items: center;
}
